body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 65px;
    color: tomato;
    
}
h2{
    font-size: 35px;
}
h3{
    color: gray;
}
.cover p{
    color: white;
}
.all-section{
    margin-bottom: 140px;
}
.banner{
    background-image: url(images/cover.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0;
}
.cover{
    text-align: center;
    padding: 25px;
}
.button{
    text-decoration: none;
    background-color: tomato;
    color: white;
    padding: 9px;
    border-radius: 5px;
}
.middle-part{
    text-align: center;
}
.donation{
    display: flex;
    margin-left: 30%;
}
.donation-ammount{
    width: 100px;
    height: 80px;
    background-color: rgb(229, 235, 232);
    margin-left: 20px;
    text-align: center;
}
#taka{
    background-color: rgb(243, 174, 174);
    border: 2px solid red;
    border-radius: 6px;
}
#taka h3{
    color: red;
}
.ammount-part{
    text-align: center;
    margin-bottom: 100px;
}
.ammount-part p{
    color: rgb(199, 195, 195);
}
.ammount-part hr{
    width: 60%;
    margin-bottom: 35px;
}
